* {
  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: "RobotoMono Nerd Font"; */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15;
  font-weight: 500;
}

window#waybar {
  background: rgba(8, 7, 7, 1.00);
}

tooltip {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background: rgba(8, 7, 7, 0.8);
}

tooltip label {
  padding: 10px;
}

#workspaces button {
  padding: 0px 4px;
  color: #c9c9c9;
  border: none;
}

#workspaces button:hover {
  color: #f0f0f0;
  background: inherit;
}

@keyframes blink {
  to {
    color: black;
    background-color: white;
  }
}

#workspaces button.urgent {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

#clock,
#custom-waybar-mpris,
#window,
#network,
#backlight,
#bluetooth,
#memory,
#idle_inhibitor,
#pulseaudio,
#pulseaudio.microphone,
#battery {
  color: #ffffff;
}

#custom-waybar-mpris {
  margin-left: 10px;
}

#backlight {
  /* margin-right: 15px; */
}

#pulseaudio {
  margin-right: 15px;
}

#battery {
  /* margin-left: 11px; */
  margin-right: 1px;
}

#idle_inhibitor {
  /* margin-right: 11px; */
  margin-left: 0;
}

#network,
#bluetooth {
  margin-right: 2px;
}

#tray {
  margin-right: 10px;
  padding-right: 10px;
  background-image: linear-gradient(#abb0ab);
  background-size: 1px 50%;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

#custom-separator {
  margin: 0px;
  padding: 0px;
  margin-right: 11px;
  margin-left: 11px;
  color: #abb0ab;
}

#pulseaudio.microphone {
  margin-right: 0px;
}

#memory {
  margin-right: 0px;
}

#custom-recorder {
  margin-right: 6px;
  color: red;
}

#custom-exit {
  margin-left: 13px;
  color: white;
}
