* {
  border: none;
  border-radius: 0;
  font-family: RobotoMono Nerd Font;
  font-weight: 500;
  font-size: 15;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 30, 0.80);
}

tooltip {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #E9E9E9;
}

#workspaces button {
  padding: 1px;
  color: #808080;
  margin-right: 4px;
}

#workspaces button.active {
  color: #ffffff;
  /* border-bottom: 1px solid #E9E9E9; */
}

#workspaces button:hover {
  color: #d4d4d4;
}

#custom-waybar-mpris,
#custom-launcher,
#custom-exit,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  margin: 3px 5px;
}

#tray {
  margin-right: 4px;
  border-right: 1px solid #9CDCFE;
  font-size: 16px;
  padding-right: 12px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#clock {
  color: #e9e9e9;
  padding-right: 12px;
  padding-left: 12px;
  border-right: 1px solid #9CDCFE;
  border-left: 1px solid #9CDCFE;

  /* margin-right: 70px; */
  /* padding-right: 20px; */
}

#network {
  color: #F5C2E7;
  margin-right: 12px;
}

#pulseaudio {
  color: #e9e9e9;
  padding-right: 12px;
  padding-left: 12px;
  border-right: 1px solid #9CDCFE;
  border-left: 1px solid #9CDCFE;
}

#battery {
  /* color: #A9DC76; */
  color: #e9e9e9;
  padding-right: 12px;
  border-right: 1px solid #9CDCFE;
}

#backlight {
  color: #e9e9e9;
}

#custom-exit{
  color: #e9e9e9;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-waybar-mpris{
  color: #e9e9e9 ;
  border-left: 1px solid #9CDCFE;
  border-right: 1px solid #9CDCFE;
  padding-left: 13px;
  padding-right: 10px;
}

