* {
  border: none;
  border-radius: 0;
  font-family: RobotoMono Nerd Font;
  font-weight: 500;
  font-size: 15;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 30, 0.87);
  color: #A5ADCE;
}

tooltip {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #FFFBF5;
}

#workspaces button {
  padding: 1px;
  color: #808080;
  margin-right: 4px;
}

#workspaces button.active {
  color: #ffffff;
  /* border-top: 2px solid #FFFBF5; */
}

#workspaces button:hover {
  color: #d4d4d4;
}

#custom-waybar-mpris,
#custom-launcher,
#custom-exit,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  margin: 3px 5px;
}

#tray {
  margin-right: 4px;
  font-size: 16px;
  border-right: 2px solid #FFFBF5;
  padding-right: 12px;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#clock {
  color: #FEE779;
  border-right: 2px solid #FFFBF5;
  border-left: 2px solid #FFFBF5;
  padding-right: 12px;
  padding-left: 12px;

  /* margin-right: 70px; */
  /* padding-right: 20px; */
}

#network {
  color: #F5C2E7;
  margin-right: 12px;
}

#pulseaudio {
  color: #78DCE8;
  padding-right: 12px;
  padding-left: 12px;
  border-right: 2px solid #FFFBF5;
  border-left: 2px solid #FFFBF5;
}

#battery {
  color: #A9DC76;
  padding-right: 12px;
  border-right: 2px solid #FFFBF5;
}

#backlight {
  color: #E5A2E0;
}

#custom-exit{
  color: #FF8BBA;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-waybar-mpris{
  color: #93E0E3;
  border-left: 2px solid #FFFBF5;
  padding-left: 13px;
  padding-right: 10px;
}

