* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #A5ADCE;
}

tooltip {
  background: #1E1E2E;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #31C3EE;
}

#workspaces button {
  padding: 2px;
  color: #A5ADCE;
  margin-right: 1px;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  color: #F5E0DC;
  background: none;
}

#custom-waybar-mpris,
#custom-exit,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  background: #1E1E2E;
  padding: 0px 10px;
  margin: 3px 0px;
  border: 1.8px solid #83CFF7;
}

#tray {
  border-radius: 10px;
  margin-right: 4px;
  font-size: 19px;
}

#workspaces {
  background: #1E1E2E;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#clock {
  color: #F9E2AF;
  border-radius: 10px;
}

#network {
  color: #F5C2E7;
  margin-right: 10px;
  border-radius: 20px;
}

#pulseaudio {
  color: #89B4FA;
}

#battery {
  color: #A6E3A1;
  border-radius: 0 20px 20px 0;
  margin-right: 5px;
  border-left: none;
}

#backlight {
  border-radius: 20px 0 0 20px;
  color: #94E2D5;
  border-right: none;
}

#custom-exit{
  color: #F38BA8;
  border-radius: 20px;
  padding-right: 13px;
}

#custom-waybar-mpris{
  margin-left: 10px;
  border-radius: 20px;
  color: #FAB387;
}
